@charset "UTF-8";

:root {
    --cor1: #76c8d1;
    --cor2: #66A3F2;
    --cor3: #186B8C;
    --cor4: #165F8C;
    --cor5: #14488C;
}

@media screen and (min-width:768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    }
    #login {
        width: 80vw;
        height: 330px;
    }
    #img {
        float: left;
        width: 30%;
        height: 100%;
    }
    #form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    }
    #login {
        width: 990px;
        height: 350px;
    }
    #img {
        float: right;
        width: 50%;
        height: 100%;
    }
    #form {
        float: left;
        width: 50%;
    }
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
        margin: 20px 0;
    }
}