@charset "UTF-8";

:root {
    --cor1: #76c8d1;
    --cor2: #66A3F2;
    --cor3: #186B8C;
    --cor4: #165F8C;
    --cor5: #14488C;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, html {
    background-color: var(--cor3);
    height: 100vh;
    width: 100vw;
}
#login {
    position: absolute;
    top: 50%;
    left: 50%;    
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    transition: width 0.6s, height 0.6s;
    transform: translate(-50%, -50%);
}
#img {
    display: block;
    background: var(--cor1) url(../imagem/pexels-sean-whang-25006-804269.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}
#form {
    display: block;
    padding: 10px;
}
h1 {
    text-align: center;
    margin-bottom: 10px;
}
p {
    font-size: 0.8em;
}
.campo {
    background-color: var(--cor1);
    border: 2px solid var(--cor1);
    height: 40px;
    border-radius: 8px;
    margin: 5px 0;
}
label {
    display: none;
}
.campo > span {
    color: black;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
.campo > input {
    background-color: var(--cor3);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;    
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}
.campo > input:focus-within {
    background-color: white;
}
.campo > input::placeholder {
  color: rgba(255, 255, 255, 0.733);
}
#botao1 {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#botao1:hover {
    background-color: var(--cor5);
}
#botao2 {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid var(--cor3);
    border-radius: 5px;
    text-decoration: none;
    color: var(--cor5);
}
#botao2:hover {
    text-decoration: underline;
}
#botao2 > span {
    font-size: 0.8em;
}